
<html>
<head>
<title>Impressum</title>
<style>
body {
width: 550px;
font: 14px Arial;
}
</style>
</head>
<body>
<h1>Impressum</h1>

<p>Diese Internetseite wird angeboten von:</p>

<p>Technische Universit&auml;t Darmstadt<br />
Karolinenplatz 5<br />
64289 Darmstadt<br />
+49 6151 16-0</p>

<p>vertreten durch den Pr&auml;sidenten der Technischen Universit&auml;t Darmstadt, Prof. Dr. Hans J&uuml;rgen Pr&ouml;mel.</p>

<p>Die Technische Universit&auml;t Darmstadt ist eine rechtsf&auml;hige K&ouml;rperschaft des &ouml;ffentlichen Rechts gem&auml;&szlig; &sect; 1 Abs. 1 i.V.m. &sect; 2 Abs. 1 Nr. 1 HHG (Hessisches Hochschulgesetz vom 14. Dezember 2009, GVBl. I S. 666). Seit dem In-Kraft-Treten des TU Darmstadt-Gesetzes (Gesetz zur organisatorischen Fortentwicklung der Technischen Universit&auml;t Darmstadt vom 05. Dezember 2004, GVBl. I S. 382, in der Fassung vom 14. Dezember 2009, GVBl. I S. 699) ist sie autonome Universit&auml;t des Landes Hessen.</p>

<a href="http://www.tu-darmstadt.de/impressum/">Impressum der Technischen Universit&auml;t Darmstadt</a>

<h2>Inhaltlich verantwortlich f&uuml;r diese Webseite:</h2>

<p>Sebastian Proksch (proksch[at]st(dot)informatik.tu{-}darmstadt.de)</p>
</body>
</html>

