@import url(reset.css);

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 20px;
}

h1 {
	font-size: 160%;
    font-weight: bolder;
	margin: 20pt 0 10pt;
}
h2 {
    font-size: 140%;
	font-weight: bolder;
	margin: 20px 0 10pt;
}

p {
	margin: 10pt 0;
}

ul {
    list-style: disc inside;
}
ul ul {
	margin-left: 15px;
}

#header {
    display: block;
    width: 100%;
    height: 135px;
    margin-bottom: 30pt;
}

#title {
    float: left;
    margin-right: 30pt;
}

#title a {
    vertical-align: middle;
    font-size: 50pt;
    color: black;
    text-decoration: none;
}

#logo {
    float: left;
    margin-right: 10pt;
}

nav ol {
    counter-reset: item;
    list-style-type: decimal;
    padding: 0;
    margin: 0;
}

nav ol li {
    display: block;
    position: relative;
    float: left;
    min-width: 160px;
    margin: 0 5pt 5pt 0;
    cursor: pointer;
    background: white;
    border: 1px solid grey;
}

nav ol li.right {
    float: right;
}

nav ol li.active {
    background: lightgrey;
    font-style: italic;
    border-width: 2px;
}

nav ol li span {
    display: block;
    padding: .5em;
    white-space: nowrap;
    color: black;
    font-weight: bold;
}

nav ol li a {
    display: block;
    padding: .5em;
    text-decoration: none;
    white-space: nowrap;
    color: black;
    font-weight: bold;
}

nav ol li:hover { background: lightgrey; }

nav li ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav li:hover > ul {
    display: block;
    position: absolute;
}

nav li:hover li {
    float: none;
    margin: 0;
}

nav ol:before,
nav ol:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

nav ol:after { clear: both; }

ul#experiments {
    list-style-type: none;
}

ul#experiments > li {
    float: left;
    min-width: 25%;
    padding: 15pt;
    margin: 5pt;
    border: 1px solid grey;
}

ul#experiments span {
    font-weight: bold;
}

ul#experiments ul {
    list-style-type: circle;
    margin-top: 10pt;
}

ul#experiments ul li {
    display: block;
    padding: 5pt;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

table {
    border-spacing: 0;
    border-style: solid none solid;
    border-color: black;
    border-width: 2px;
}

table.invisible {
    border-style: none;
}

th {
    border-bottom: solid 1px black;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}
th:empty {
    border-style: none;
}
th[colspan] {
    text-align: center;
}
td { vertical-align: top; padding: 5px; }
td.top { border-top: 1px solid black; }
td.right { text-align: right; }

td.no-hit { color: lightgray; }
a.button.no-hit { color: lightgray; }

table.potential_hits th {
    border: 2px solid black;
}

table.potential_hits td {
    border: 2px solid grey;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding: 2pt 5pt;
}

ul.inline {
    display: inline;
    list-style: none;
}

ul.inline li {
    display: inline;
}

ul.inline li:after {
    content: ", ";
}

ul.inline li:last-child:after {
    content: "";
}

table.fw {width:100%;}
.vtop {vertical-align:top}
.prettyprint ol.linenums > li {
    list-style: decimal inside;
}
