@import url(reset.css);

body {
	width: 600px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 20px;
}
h1 {
	font-size: 14pt;
	margin-bottom:10px;
}
h2 {
	font-weight: bold;
	font-size: 16pt;

	margin-bottom: 20px;
}
h2 span {
	display: block;
	margin-top: 3pt;
	font-weight: normal;
	font-style: italic;
	font-size: 14pt;
}
h3 {
	font-weight: bold;
	font-size: 12pt;
	margin: 20pt 0 10pt;
}

p {
	margin: 10pt 0;
}

ul {
    list-style: disc inside;
}
ul ul {
	margin-left: 15px;
}

ol#menu {
    display: block;
    width: 100%;
    margin: 10pt 0 20pt;
	list-style: none;
    border-bottom: 1px gray solid;
}

ol#menu li {
    padding: 3pt;
}

ol#menu a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding: 4px 7px;
}

table {
	width: 500px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
  margin: 20px 0 30px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
th {
  border-bottom: 1px solid black;
}

.comment {
	color: #aaa;
}
div.comment {
	color: #aaa;
	float: left;
}
div.comment p {
	margin: 0;
	padding: 0;
}


div.footer {
	margin-top:30pt;	
}
div.legal {
	float: right;
	text-align: right;
}
div.legal a {
	color: #aaf;
}
